html, body {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    align-items: center;
    justify-content:stretch;

}

.image {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 100vh;
}

.pair {
    position: absolute;
    color: white;
    font-size: 100px;
    vertical-align: middle;
    background-color: red;
}

.image2 {
    position: absolute;
    justify-content: center;
    justify-content: left;
}
.colors {
    width: 100%;
    height: 100%;
}

.color1 {
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    height: 35vh;
    box-sizing: border-box;
    padding-top: 60px;
    padding-left: 20px;
    font-size: 23px;
}

.text-1 {
    max-width: 600px;
    word-wrap: break-word;
}

.color2 {
    background-color: lightgray;
    display: flex;
    width: 100%;
    height: 35vh;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    flex-direction: column;
    box-shadow: 0px 4px 10px gray;
    position: relative;
}

.color3 {
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    height: 30vh;
}

.inline-form {
    display: inline-block;
}

.col {
    display: inline-block;
    padding-right: 20px;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
}

input:invalid {
    border-color: red;
}


input:focus {
    box-shadow: 3px 3px 4px black;
}

.button1 {
    width: 200px;
    height: 50px;
    border: 0px solid black;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: darkolivegreen;
    cursor: pointer;
}

.container-low {
    padding-top: 30px;
    padding-left: 15px;
    display:block;
}

.buttons {
    padding-bottom: 15px;
}

.texts {
    display: inline;
}

.login {
    color: olivedrab;
    border: 0px solid black;
    width: 60px;
    height: 30px;
    background-color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
}

@font-face {
    font-family: 'Times New Roman', Times, serif;
    src:url()
}
